{% extends "base.html.twig" %}

{% block title %}
    Fichier inconnu
{% endblock %}

{% block body %}
    <h1>Fichier inconnu !</h1>
    <p>Le fichier que vous demandez n'est pas accessible.</p>
{% endblock %}
