{# On hérite de base.html.twig: on récupère la même structure HTML et on remplace certains blocs #}
{% extends "base.html.twig" %}

{# On écrase le bloc "title" #}
{% block title %}
    Share It!
{% endblock %}

{% block body %}
    <h1>Share It!</h1>
{% endblock %}