{% extends "base.html.twig"%}

{% block title %}
    Votre fichier a été chargé !
{% endblock %}

{% block body %}
    <h1>Votre fichier a été chargé !</h1>

    <p>
        {# On accède aux propriétés / méthodes avec le point 
            Twig essaie automatiquement d'appeler le getter: getNomOriginal() #}
        Le fichier <b>{{ fichier.nomOriginal }}</b> a été chargé.
        

    </p>
    {# On crée un lien ves la page de téléchargement (rooute "download") 
        L'adresse nécessite un paramètre "id", on passe un tableau associatif à la fonction link() 
        Syntaxe des tableaux associatifs dans Twig: {cle: valeur} #}
    Lien de téléchargement : <a href="http://localhost:90{{ link('download', {id: fichier.id}) }}">{{ fichier.nomOriginal }}</a>
    
{% endblock %}